.pl{
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.pl-texts{
    width: 65%;
    overflow: hidden;
}

.pl-title{
    font-size: 50px;
    font-weight: 600;
    overflow: hidden;
}
.pl-desc{
    margin: 20px 0px;
    overflow: hidden;

}
.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

@media screen and (max-width:480px) {
    .pl{
        padding: 10px;
    }
    .pl-texts{
        width: 100%;
    }
    .pl-desc{
        display: none;
    
    }
}