



.i{
    display: flex;
    height: 100vh;
    
    
}

.i-left{
    flex: 0.5;
    
   
}
.i-right{
    flex: 0.5;
    position: relative;
   
}
.i-left-wrapper{
    padding: 60px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.i-intro{
    margin-top: 30px;
    font-size: 30px;
    font-weight: 300;
    overflow: hidden;
    
}

.i-name{
    font-size: 70px;
    overflow: hidden;
     
}

.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    overflow: hidden;
   
   
    animation: move 12s ease-in-out infinite alternate;
}
@keyframes move {
    25% {
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(21, 0, 255);
   
    align-items: center;
    font-weight: bold;
    overflow: hidden;
  
}

.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    
}

.i-bg{
     clip-path: polygon(24% 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 26% 100%, 0% 50%);
   background-image: url(https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif);
   
  
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
   
    }
    .i-boton-cv{
        border-radius: 1px;
        overflow: hidden;
    }
    .matias{
        overflow: hidden;
    }
    
    .i-desc{
    font-size: 25px;
    overflow: hidden;
    margin-right: 80px;
    }
    .i-boton-text{
        text-align: center;
        border-radius: 1px;
    }
    
    
.container{
    height:50%;
    position: relative;
    perspective: 800px;
}

.matias{
    background-color: black;
    padding: 20px 30px;
}
.btn{
    border: 5px;
    position: relative;
    background: none;
    padding: 20px 30px;
    display: inline-block;
    text-transform: uppercase;
    background-color: blue ;
    color:rgb(255, 255, 255);
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 800;
    transform-style: preserve-3d;
    outline: none;
    outline: 1px solid transparent;
    transition: all 0.5s ease-out;
    cursor: pointer;
    
}
.btn::after{
    content: "Download CV";
    position: absolute;
    padding: 20px 30px;
    z-index: -1;
    transition: all 0.1s ease-out;
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 5px ;
    top: -100%;
    background: black;
    color: whitesmoke;
    transform-origin:0% 100% ;
    transform: rotateX(90deg);
}
.btn:hover {
    transform: translateY(40px) rotateX(-90deg);
}

@media screen and (max-width: 480px){
    .i {
        flex-direction: column;
    }
    .i-bg{
        clip-path: polygon(100% 0%, 100% 58%, 100% 100%, 0 100%, 0% 50%, 0 0);
    }

    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        height: 100%;
    }
    .i-desc{
        display: none;
    }
}
   